body {
  box-sizing: border-box;
}
.content {
  padding-left: 160px;
  padding-right: 160px;
  background-color: rgb(221, 145, 145);
  background-image: radial-gradient(
      at 31% 55%,
      hsla(222, 66%, 14%, 0.04) 0px,
      transparent 50%
    ),
    radial-gradient(at 41% 12%, hsla(240, 79%, 49%, 0.24) 0px, transparent 50%);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
h3 {
  font-weight: bold;
  color: black;
}
h2 {
  font-weight: 100;
  color: black;
}
p {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 300;
  color: black;
}
