* {
  box-sizing: border-box;
}

body {
  margin: 0;
background-color: #d2dae0;
width: 100vw;
}
.welcome {
  color: red;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  background-color: rgba(255, 255, 255, 0.583);
  position: fixed;
  z-index: 5;
  top: 0;
  overflow-x: hidden;
}
.links {
  display: flex;
  width: 100vw;
  align-items: center;
}
.links :nth-child(1) {
  padding-right: 3px;
  padding-left: 10px;
  color: black;
  text-decoration: none;
  padding-top: 5px;
}
.links :nth-child(2) {
  padding-right: 3px;
  padding-top: 5px;
  padding-left: 3px;
}
.links :nth-child(3) {
  padding-left: 3px;
  padding-top: 5px;
}

.bg-wrapper {
  background-image: url(./Assets/hero_qqjtptjf576m7r80tm4qk.webp);
  height: 1050px;
  width: 100vw;
}
.logo {
  min-height: 80px;
  display: flex;
  align-items: center;
}

/* handle link over states  */
.links > div > a {
  text-decoration: underline;
  font-weight: 600;
  transition: all 0.5s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  transition: all 0.5s;
}
.links > div > a:hover {
  text-decoration: underline;
  font-weight: 600;
  font-size: 18.5px;
  transition: all 0.5s;
}

.location_wrap {
  margin-left: 100px;
  display: flex;
}

.links .locate {
  padding: 0px;
  display: flex;
  align-items: center;
}

.links .locate a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  transition: unset;
}

.links .locate a:hover {
  transition: unset;
}

.bg-wrapper .welcome h1 {
  text-align: center;
  font-weight: 800;
  -webkit-text-fill-color: rgba(247, 212, 12, 0.77);
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: chocolate;
  opacity: 90%;
  padding-top: 70px;
}
.bg-wrapper .welcome p {
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: gold;
}
.ready {
  margin: auto;
  width: fit-content;
}
.bg-wrapper .ready h2 a {
  font-size: 40px;
  -webkit-text-stroke: 2px;
  text-decoration: none;
  background-color: rgba(255, 217, 0, 0.774);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: brown;
  color: white;
  border: 5px dotted black;
}
.bg-wrapper .schedule img {
  background-color: white;
  border-radius: 7px;
  padding-top: 15px;
}
.schedule h3 {
  font-weight: 800;
  font-size: 40px;
  color: white;
  text-align: center;
}
.schedule p {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-right: 10px;
  padding-left: 100px;
  padding-top: 50px;
}
.schedule {
  background-color: black;
  opacity: 60%;
  display: flex;
}
.schedule_1 {
  background-color: black;
  opacity: 60%;
  display: flex;
}
.schedule_1 h3 {
  font-weight: 800;
  font-size: 40px;
  color: white;
  text-align: center;
  padding-left: 20px;
}
.bg-wrapper .schedule_1 img {
  background-color: white;
  border-radius: 7px;
  padding-top: 15px;
}
.schedule_1 p {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-right: 10px;
  padding-left: 390px;
  padding-top: 50px;
}
hr {
  background-color: gold;
  height: 15px;
  width: 100vw;
}
.services {
  background-color: #d2dae0;
  width: 100vw;
}
.main {
  columns: 4 auto;
  font-size: 18px;
  width: 100%;
}
.main :hover {
  text-decoration: underline;
  color: #52c4d3;
}
.services .head {
  padding-top: 5px;
  text-align: center;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.cosmetic ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cosmetic h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.services a {
  text-decoration: underline;
  color: #3cb6c6;
}
.crown ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.crown h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.dental h3 {
  padding-left: 20px;
  color: #52c4d3;
  padding-top: 5px;
}
.dental ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.denture h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.denture ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.emergency h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.emergency ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.endo h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.endo ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.implant h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.implant ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.invisalign h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.invisalign ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.oral_h h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.oral_h ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.oral_s h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.oral_s ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.teeth h3 {
  padding-left: 20px;
  color: #52c4d3;
}
.teeth ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.about_1 {
  width: fit-content;
  font-size: 60px;
  border-radius: 7px;
  border: 7px double gold;
  margin: auto;
  background-color: green;
}
.author {
  border: 4px dotted black;
  background-color: rgb(171, 166, 166);
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
.author img {
  display: flex;
}
.author .footer_icon {
  padding: 0;
  display: flex;
}
.author .copy {
  display: flex;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  font-weight: 200;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
